# Inner Beast Frontend
# Local development:
# NEXT_PUBLIC_API_URL=http://localhost:5000/api
# NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

# Production:
NEXT_PUBLIC_API_URL=https://backend.himalayanessenceltd.com/api
NEXT_PUBLIC_SOCKET_URL=https://backend.himalayanessenceltd.com
